.recimage {
            width: 200px;
            height: 200px;
            object-fit: cover;}
.devimage {
            width: 200px;
            height: 200px;
            object-fit: cover;}
.stalkimage {
            width: 200px;
            height: 200px;
            object-fit: cover;}
.advimage {
            width: 200px;
            height: 200px;
            object-fit: cover;}